dash
dice-ml
git+https://github.com/DataResponsibly/ShaRP
git+https://github.com/joaopfonseca/recourse-over-time.git
matplotlib>=3.7.0
ml-research==0.5.0
openpyxl
pandas>=2.1.0
plotly>=5.17.0
scikit-learn>=1.2.1
shap
seaborn
streamlit
